<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>Hello <span th:text="${#authentication.getPrincipal().getUsername()}"></span></div>
        <h1>Suggested friends</h1>
        <table>
            <thead>
                <tr>
                    <th> User Name </th>

                </tr>
            </thead>
            <tbody>
                <tr th:if="${suggestedFriends.empty}">
                    <td colspan="1"> No Friends Available </td>
                </tr>
                <tr th:each="suggestedFriend : ${suggestedFriends}">
                    <td><span th:text="${suggestedFriend.userName}"> </span></td>      
                    <td><button name="userId" th:id="${suggestedFriend.userId}">add friend</button></td>
                </tr>
            </tbody>
        </table>
        
        <a th:href="@{~/PetBook/home}">home</a>
        <script>
            $(document).ready(function () {
                $("button[name = 'userId']").on('click', function (e) {

                    $.ajax({
                        url: "addFriend/"+e.target.id
                    }).done(function (r) {
                        e.target.innerText="Request sent";
                        e.target.disabled=true;
                    });
                });
            });
        </script>
    </body>
</html>
