<!DOCTYPE html>

<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" media="all" href="profile-page.css" th:href="@{/css/profile-page.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <title>Profie Page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        
        <nav th:replace="layouts :: foo"></nav>
        
        <div class="container">
            
            
            <img src=""  alt="#" th:attr="src=@{'/photos/' + ${MyUser.profileImage.imagePath} }  " class="profile-image" />
            <div class=" profile-image-update" data-toggle="modal" data-target="#myModal" >
                <i class="fa fa-camera "></i>
            </div>
            <hr/>
            <nav  class="navbar navbar-expand-md">

                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"  href="#"   data-toggle="modal" data-target=".bs-example-modal-lg">Photos</a>
                           
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pet</a>
                        </li>
                    </ul>
                </div>
            </nav>



            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">


                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <img class="card-img-top"  src=""  alt="#" th:attr="src=@{'/photos/' + ${MyUser.profileImage.imagePath} }  " />
                                </div>


                                <div th:each="image : ${userImages}" class="carousel-item" >
                                    <img src=""  alt="#" th:attr="src=@{'/photos/' + ${image.imagePath} }  " class="card-img-top"  />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Upload Profile Image</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action='/PetBook/upload-profile-image' enctype="multipart/form-data">
                            select file :
                            <input type='file' name='file' id='file' class="input-group-text"/>
                            <br/>
                            <input type='submit' class='btn btn-info' value="upload" id='btn_upload'/>                   
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
