<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all" href="style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>Register Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>

<body>

    <div class="mybody">

        <div class="myform-transparent-div">
            <img id="monkey" src="images/output-onlinepngtools.png" />
        </div>

        <div class="myform">
            <div class="register">
                <img src="images/stamp.png" id="stamp"/>
                <span id="register-header">Register</span>
            </div>


            <form th:action="@{/registerUser}" th:object="${registerDto}" method="post">

                <!--    // // // // //    USER NAME   // // // // //       -->
                <div class="input-group">
                    <i class="fas fa-user username-icon"></i>
                    <input onkeyup="checkIfInputsValid(1)" type="text" name="username"
                        th:field="*{userName}" id="username" class="form-control" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1" required="true" /><i
                        id="nameCheck" class="fas fa-check" style="color: green" hidden="true"></i>
                    <p id="usernameError" class="error-input"></p>
                </div>

                 <p th:if="${#fields.errors('userName')}" th:errors="*{userName}" class="alert alert-danger wrong-input">Name Error</p> 


                <!--    // // // // //   EMAIL  // // // // //       -->

                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input onkeyup="checkIfInputsValid(2)" type="text" name="email" th:field="*{email}"
                        id="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1" required="true" /><i id="mailCheck" class="fas fa-check"
                        style="color: green" hidden="true"></i>
                    <p id="emailerror" class="error-input"></p>
                </div>
                 <p class="alert alert-danger wrong-input"
                           th:each="error: ${#fields.errors('email')}"
                           th:text="${error}"></p> 



                <!--    // // // // //   PASSWORD  // // // // //       -->
                <div class="input-group">
                    <i class="fas fa-key"></i>
                    <input onkeyup="checkIfInputsValid(3)" type="password" th:field="*{userPassword}" id="password"
                        class="form-control" placeholder="Password" required="true" aria-describedby="basic-addon1" /><i
                        onclick="showPassword()" id="showpass" class="fas fa-eye"></i>
                    <p id="passworderror" class="error-input"></p>
                </div>
                 <p th:if="${#fields.errors('userPassword')}" th:errors="*{userPassword}"  class="alert alert-danger wrong-input">pass errors Error</p> 



                <!--    // // // // //   PASSWORD 2  // // // // //       -->
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input onkeyup="checkIfInputsValid(4)" type="password" th:field="*{userPassword1}"
                        class="form-control" id="password2" placeholder="Re-type Password" required="true"
                        aria-describedby="basic-addon1"/><i id="passCheck" class="fas fa-check" style="color: green"
                        hidden="true"></i>
                    <p id="passworderror2" class="error-input"></p>
                </div>
                 <p th:if="${#fields.errors('userPassword')}" th:errors="*{userPassword}"  class="alert alert-danger wrong-input">pass errors Error</p> 

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <img src="images/vet-dog.png" width="35px"/>
                            <div class="input-group-text noborder" id="vet-checkbox">
                                <input th:field="*{vet}" type="checkbox" onclick="onChangeHandler()"
                                       aria-label="Checkbox for following text input"/>
                            </div>
                        </div>
                        <input id="vet-id-input" type="text" placeholder="Create a Vet account" class="form-control"
                               th:field="*{credentialNumber}"  aria-label="Text input with checkbox" readonly="true"/>

                    </div>
                    <p th:if="${#fields.errors('credentialNumber')}" th:errors="*{credentialNumber}"  class="alert alert-danger wrong-input">pass errors Error</p>

                    
                    <div class="center">
                        <button type="submit" id="submitbtn" class=" btn btn-primary" >Submit</button>
                        <!--                        disabled="true"-->
                    </div>
                </form>
            </div>
            <!--
              <img id="monkey" src="images/Daco_68032.png" />-->

                <div class="input-group">
                    <div class="input-group-prepend">
                        <img src="images/vet-dog.png" width="35px"/>
                        <div class="input-group-text noborder" id="vet-checkbox">
                            <input type="checkbox" onclick="onChangeHandler()"
                                aria-label="Checkbox for following text input"/>
                        </div>
                    </div>
                    <input id="vet-id-input" type="text" placeholder="Create a Vet account" class="form-control"
                        aria-label="Text input with checkbox" readonly="true"/>

                </div>
               
                <button type="submit" id="submitbtn" class=" btn btn-primary btn-block" disabled="true">SUBMIT</button>
                
            </form>

            <img id="tiger" src="images/mini-tiger.png" />
            <img id="elephant" src="images/elephant.png" />
            <img src="images/PngItem_559630.png" alt="shadow" id="shadow-image-for-elephant" />
            <img src="images/PngItem_559630.png" alt="shadow" id="shadow-image-for-tiger" />
            <img src="images/PngItem_559630.png" alt="shadow" id="shadow-image-for-tiger-tail" />
        </div>

    </div>

    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/AlkisDiamantis/PetBook"> PetBook</a>
        </div>
    </footer>

    <script>

        function onChangeHandler() {
            let vetIdInput = document.getElementById("vet-id-input");
            let vetCheckbox = document.getElementById("vet-checkbox");

            if (vetIdInput.getAttribute("readonly")) {
                vetIdInput.removeAttribute("readonly")
                vetIdInput.placeholder = "Enter Vet credential number";
                vetIdInput.style.cursor = "text";
                vetIdInput.style.borderBottom = "2px dashed #dfe3e7";
                vetCheckbox.style.backgroundColor = "white";
                vetCheckbox.style.borderBottom = "2px dashed #dfe3e7";
            } else {
                vetIdInput.setAttribute("readonly", true)
                vetIdInput.placeholder = "Create a Vet account";
                vetIdInput.style.borderBottom = "0";
                vetIdInput.style.cursor = "context-menu";
                vetCheckbox.style.backgroundColor = "#e9ecef";
                vetCheckbox.style.borderBottom = "0";
            }

        }


        function showPassword() {
            var x = document.getElementById("password");
            var y = document.getElementById("showpass");
            if (x.type === "password") {
                x.type = "text";
                y.style.opacity = 1;
            } else {
                x.type = "password";
                y.style.opacity = 0.3;
            }
        }

    </script>
    <script th:src="@{/js/RegistrationFieldsValidations.js}" src="RegistrationFieldsValidations.js"></script>
</body>

</html>


