.profile-image{
    width : 160px;
    height:160px;
    padding: 10px;
    border-radius: 50%;
    border: 6px solid whitesmoke;
}

.profile-image-update{
    position: absolute;
    text-align: center;
    width : 30px;
    height:30px;
    top:100px;
    left:350px;
    border:1px solid black;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;

}
.addButton{
 
}


.display-images{

    width : 160px;
    height:160px;
    border: 6px solid whitesmoke;
}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

