body{
    background-image: linear-gradient(to right, #bbd1f5, #90bafd);

}

.mybody{
    height: 100vh;
    padding-top: 12%;
    overflow-x: hidden;
}
.register {
    margin-bottom: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stamp {
    width: 40px;
    height: 40px;
}

#register-header {
    margin-left: 10px;
}

.myform-transparent-div {
    position: relative;
    margin-left: auto;
    margin-right: 30%;
    width:450px;
}

.myform {
    position: relative;
    margin-left: auto;
    margin-right: 30%;
    padding: 30px 80px;
    padding-top: 15px;
    width:450px;
    background-color: rgb(255, 255, 255);
    /* z-index: 1; */
    -webkit-box-shadow: 0 0 10px 1px  #72727285; 
    box-shadow: 0 0 10px 1px  #72727285;
    border-radius: 5px;
    animation-name: push-form;
    animation-duration: 3s;
    /* margin-left: 130px;
    margin-top: 70px; */
    /* animation-name: form-animation;
    animation-duration: 3s; */
}

@keyframes push-form {
    from {left: 1000px;}
    to {left: 0;}
}

/* 
@keyframes form-animation {
    from {left: 1920px;}
    to {left: 20px;}
} */

.stamp {
    z-index: 4;
    justify-content: start;
}

.inline {
    display: flex;
}

i{
    height: 37.5px;
    padding: 0 8px;
    padding-top: 10px;
}

.form-control {
    border: 0;
    border-bottom: 2px dashed #dfe3e7;
    border-radius: 0;
}

input {
    box-shadow: none !important;
    border-color: #dfe3e7 !important;
}

.error-border {

    border: 1px solid red !important;
}

.accepted-border {
    border: 1px solid green !important;
}

#vet-id-input {
    border-bottom: 0;
    transition: none;
    padding-left: 5px;
    cursor: context-menu;
    width: 20px;
}

footer {
    background-color: rgba(8, 8, 31, 0.589);
}

.footer-copyright {
    color: white;
}

.noborder {
    border: 0;
}
input:invalid {
    border-bottom: 2px dashed #dfe3e7;
}

#showpass {
    opacity: 0.3;
    cursor: pointer;
}

form > p {
    color: black;
}

.invalid-feedback {
    color:red;

}

#submitbtn {
    margin-bottom: 10px;
    border-radius: 0;
    border: 0;
}

#elephant {
    position: absolute;  
    width: 260px;
    z-index: 10;
    top: 230px;
    right: 365px;
    transform: rotate(20deg);
}

#shadow-image-for-elephant {
    position: absolute;  
    width: 170px;
    z-index: 9;
    top: 456px;
    right: 420px;
    height: 50px;
}

#tiger {
    position: absolute;  
    width: 260px;
    z-index: 10;
    top: 200px;
    left: 435px;
}

#shadow-image-for-tiger {
    position: absolute;  
    width: 190px;
    height: 40px;
    z-index: 9;
    top: 460px;
    right: -170px;
    opacity: 0.8;
}
#shadow-image-for-tiger-tail {
    position: absolute;  
    width: 170px;
    height: 20px;
    z-index: 9;
    top: 470px;
    right: -250px;
    opacity: 0.6;
}

#myImage2 {
    width: 475px;
    padding-left: 100px;
    margin-top: 140px;
    margin-right: 420px;
    margin-left: 590px;
}

#monkey {
    position: absolute;
    width: 600px;
    left: 57%;
    z-index: 10;
    top: -255px;
    animation-name: monkey-image;
    animation-duration: 2s;
}

@keyframes monkey-image {
    from {top: -500px;}
    to {top: -255px;}
}

#myImage4 {

    width: 110px;
    z-index: 3;
    margin-bottom: 390px;
    margin-left: 130px;

}

.error-input {
    position: absolute;
    top: 40px;
    left: -10px;
    z-index: 5;
    font-size: 10px;
    color: red;
    margin-left: 50px;
}

.input-group {
    padding-bottom: 25px;
}

#vet-checkbox input {
    cursor: pointer;

}


.card {
    position: absolute;
    text-align: center;
    background: white;
    padding: 12%;
    top:10%;


}
#bird{
    position: absolute;
    width:200px;
    transform: rotate(0deg);
    left:-35%;
    bottom:85%;
    animation-name: birdy;
    animation-duration: 3s;
    z-index: 4;

}

@keyframes birdy {
    0% {
        transform: translatex(-1000px) translatey(-1000px) rotate(65deg);
    }
    100% {
        transform: translatex(0px) translatey(0px) rotate(0deg);;
    }
}
.monkey2 {
    position: absolute;
    left:20px
}

.email-succes-mycardDiv{
    position: relative;
    margin-left: auto;
    margin-right: 40%;
    width:450px;
    width: 380px;
    top:100px;
    animation-name: email-sent-page;
    animation-duration: 3s;

}

@keyframes email-sent-page {
    from {top: 1000px;}
    to {top: 100px;}

}

.email-succes-mycontainer{
    height: 100vh;
    overflow: hidden;
    padding-top: 7%;
}

