<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.js"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" media="all" href="css/home-page.css" th:href="@{/css/home-page.css}" />
        <title>Home</title>
    </head>

    <body>

        <nav th:replace="layouts :: foo"></nav>

        <div class="my-container">

            <!-- SUGGESTED FRIENDS -->

            <div class="home-page-left-side-container">
                <div id="suggested-friends">
                    <header id="suggested-friends-header">
                        Connect with Pet Lovers
                    </header>
                    <div id="suggested-friends-profiles">
                    </div>
                    <!--                <div class="suggested-user-block border-bottom-gray">
                                        <img src="images/mini-tiger.png" height="50px" />
                                        <span class="suggested-friend-name"></span>
                                        <button>
                                            <img src="images/plus-icon.png"/>
                                        </button>
                                    </div>
                                    <div class="suggested-user-block border-bottom-gray">
                                        <img src="images/mini-tiger.png" height="50px" />
                                        <span class="suggested-friend-name"></span>
                                        <button>
                                            <img src="images/plus-icon.png"/>
                                        </button>
                                    </div>
                                    <div class="suggested-user-block">
                                        <img src="images/mini-tiger.png" height="50px" />
                                        <span class="suggested-friend-name"></span>
                                        <button>
                                            <img src="images/plus-icon.png"/>
                                        </button>
                                    </div>-->
                    <div id="show-more-suggested-friends">
                        <button onclick='showMoreSuggestedFriends()'>Show more</button>
                    </div>
                </div>
                <a th:href="@{/logout}">Logout</a>
            </div>

            <!-- POSTS -->

            <div style="background-color: yellow;" class="home-page-posts-container">
                <div class="post-container">

                </div>
            </div>
        </div>

        <script>

            let j = 0;

            function fetchSuggestedFriends() {

                $.ajax({
                    url: "requests/suggested-friends?page=" + j++
                }).done(response => {
                    let i = 0;
                    response.forEach(() => {
                        var imageUrl = "photos/" + response[i].profileImage.imagePath;
                        var profileUrl = "visit-profile/"+response[i].userName;

                        $('#suggested-friends-profiles').append('<div class="suggested-user-block">' +
                                '<img src=' + imageUrl + ' height="50px" />' +
//                                '<span class="suggested-friend-name"  onclick="checkUserProfile(event)" >' + response[i].userName + '</span>' +
                                 '<a class="visit-profile-link"  href= '+profileUrl+'>'+response[i].userName+'</a>'+
                                '<button>' +
                                '<img src="images/plus-icon.png"/>' +
                                '</button>' +
                                '</div>');
                        i++;
                    });

                });
            }
            function  checkUserProfile(event) {
//                console.log(event.target.innerHTML);
//                return $.ajax({
//                    url: "home"
//                });
            }

            function showMoreSuggestedFriendsButtonHandler(isSuggestedFriendsListEmpty) {
                isSuggestedFriendsListEmpty ?
                        $('#show-more-suggested-friends button').addClass("not-displayed") :
                        $('#show-more-suggested-friends button').removeClass("not-displayed");
            }

            async function checkIfSuggestedFriendsListEmpty() {

                return $.ajax({
                    url: "requests/check-suggested-friends-results?page=" + j
                });
            }

            async function onDocumentReadySuggestedFriendsHandler() {
                let suggestedFriendsListAsyncResponse = await checkIfSuggestedFriendsListEmpty();
                if (suggestedFriendsListAsyncResponse) {
                    $('#suggested-friends').append('<div>' +
                            'No suggestions at the moment' +
                            '</div>');
                } else {
                    fetchSuggestedFriends();
                    let suggestedFriendsListAsyncResponse = await checkIfSuggestedFriendsListEmpty();
                    showMoreSuggestedFriendsButtonHandler(suggestedFriendsListAsyncResponse);
                }
            }

            async function showMoreSuggestedFriends() {
                fetchSuggestedFriends();
                let suggestedFriendsListAsyncResponse = await checkIfSuggestedFriendsListEmpty();
                showMoreSuggestedFriendsButtonHandler(suggestedFriendsListAsyncResponse);
            }

            $(document).ready(() => {
                onDocumentReadySuggestedFriendsHandler();
            });



        </script>

    </body>

</html>