<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>welcometo petbook</h1>
        <div> 
            <strong>Hello 
<!--                <span sec:authorize="isAuthenticated()">
                    <span th:text="${#authentication.getPrincipal().getUserName()}"> </span>
                </span>-->
            </strong>
        </div>
        <br/>
        <br/>
        <a th:href=@{login}>login</a>
        <a th:href=@{registerUser}>register</a>
    </body>
</html>
